@use "sass:math";
@import "../variables";

@function radius($size) {
  @return math.div($size, 2) + math.div($size * $size, 8 * $size);
}

%Hover {
  &:before {
    background-color: $primary-color-light;
    border-radius: 50%;
    color: black;
    content: attr(data-day);
    display: block;
    height: $cell-size;
    line-height: $cell-size;
    position: absolute;
    width: $cell-size;
    z-index: 1;
  }
}

.Calendar {
  text-align: center;
  overflow: hidden;
  padding-bottom: 12px;
  position: relative;
  max-width: min-content;
}

.Float {
  background: white;
  box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  position: absolute;
}

.Row {
  display: flex;
}

.Col {
  display: flex;
  flex-direction: column;
}

.CalendarHeader {
  box-sizing: border-box;
  height: 56px;
  padding: 14px;
  line-height: 56px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.GridHeader {
  background-color: #fbfbfb;
  box-sizing: border-box;
  display: flex;
  height: 22px;
  line-height: 22px;
  margin-bottom: 8px;
  padding: 0 12px;
  width: 100%;

  .HeaderItem {
    color: #8c8f93;
    cursor: default;
    flex: 1 1 auto;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }
}

.WeekRow {
  display: flex;
  margin: 0 12px;

  &:not(.Hover) {
    .Day:not(.Disabled):not(.Range):not(.RangeEnd):not(.RangeStart):hover {
      background-color: $primary-color-light;
      border-radius: 50%;
    }
  }
}

.WeekRow {
  &.Hover {
    .Day {
      background-color: $primary-color-light;
      border-radius: 0;
      color: black;
      margin: 0 0 $cell-spacing * 2 0;
      padding: 0;
      width: $cell-size + $cell-spacing * 2;

      &.Disabled {
        color: $gray-500;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .OtherMonth {
      color: $gray-500;
    }

    .Day:first-child {
      background: $primary-color-light;
      border-radius: radius($cell-size) 0 0 radius($cell-size);
      margin: 0 0 $cell-spacing * 2 $cell-spacing;
      padding-right: $cell-spacing;
      width: $cell-size + $cell-spacing;
    }

    .Day:last-child {
      background: $primary-color-light;
      border-radius: 0 radius($cell-size) radius($cell-size) 0;
      margin: 0 $cell-spacing $cell-spacing * 2 0;
      padding-left: $cell-spacing;
      width: $cell-size + $cell-spacing;
    }

    &:last-child {
      .Day {
        margin-bottom: 0;
      }
    }
  }
}

.WeekRow:last-child {
  .Day {
    margin-bottom: 0;
  }
}

.WeekRowHover {
  .WeekRow {
    &:hover {
      @extend .WeekRow, .Hover;
    }
  }
}

.Flex {
  display: flex;
}

.FlexDays {
  flex-grow: 7;
  flex-shrink: 2;
}

.FlexWeeks {
  flex-grow: 2;
  flex-shrink: 7;

  .WeekNumbersWrapper {
    margin-right: 11px;
  }
}
