.DateNavigation {
  display: flex;
  align-items: center;
  width: 100%;
}

.CurrentDate {
  display: flex;
  flex-grow: 1;
  margin: 0 -3rem;
}

.PrevDate,
.NextDate {
  cursor: pointer;
  flex-grow: 0;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  z-index: 1;
}
