@import "../variables";

.RangePresets {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  margin-top: 42px;
}

.RangePreset {
  width: min-content;
  padding: 6px 12px;
  white-space: nowrap;
  border-radius: 14px;
  cursor: pointer;

  &:hover {
    background-color: $primary-color-light;
  }
}

.SelectedPreset {
  background-color: $primary-color;
}
